<html>

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Google Material Design</title>
    
    <link rel="shortcut icon" href="demo/favicon.png" type="image/x-icon">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="demo/css/main.css">
    <link rel="stylesheet" href="dist/main.css">

</head>

<body>

    <div class="page-container">

        <aside class="drawer">
        
            <div class="drawer-header">
                <img class="header-logo" src="demo/logo.png" />
                <h1 class="header-title">Component Library</h1>
            </div>
        
            <div class="drawer-content">
                <div class="content-section">
                    <div class="content-title--container">
                        <h2 class="content-title--text">Overview</h1>
                    </div>
                </div>
                <div class="content-section">
                    <div class="content-title--container">
                        <h2 class="content-title--text">Design</h1>
                    </div>
                </div>
                <div class="content-section active">
                    <div class="content-title--container">
                        <h2 class="content-title--text">Components</h1>
                    </div>
                    <div class="content-body">
                        components list
                    </div>
                </div>
            </div>
        </aside>
        <main class="main">
