<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google Material Design</title>
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="demo/css/main.css">
    <link rel="shortcut icon" href="demo/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="dist/main.css">
</head>
<body>
    <header class="toolbar">
        <div class="toolbar-row">
            <img class="toolbar-logo" src="demo/favicon.png" />
            <h1 class="toolbar-title">Shop Direct Material Components</h1>
        </div>
    </header>
    <main class="main">
