$primary-1: #f4f6f9;
$primary-1-text: #54698d;
$primary-2: #37474F;
$primary-2-text: #fff;
$accent-1: #1E8FE1;
$body-bg: #ECEFF1;
$border-color: #444444;
$sub-header: rgba(255,255,255,0.78);

$screen-mob-max: 767px;

$nice-easing: cubic-bezier(.4,0,.2,1);