$primary-1: #263238;
$primary-1-text: #fff;
$primary-2: #37474F;
$primary-2-text: #fff;
$body-bg: #ECEFF1;
$border-color: #444444;
$sub-header: rgba(255,255,255,0.78);

$screen-mob-max: 767px;

$nice-easing: cubic-bezier(.4,0,.2,1);