@mixin body-1() {
  font-size: 14px;
  letter-spacing: 0.56px;
}

@mixin display-1() {
  font-weight: 300;
  font-size: 2em;
}
@mixin display-2() {
  font-weight: 300;
  font-size: 1.5em;
}
@mixin display-3() {
  font-size: 18px;
  font-weight: 400;
}
@mixin display-4() {
  font-size: 16px;
  font-weight: 400;
}

@mixin title() {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@mixin subheading() {
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}