<aside class="drawer-container" id="drawerContainer">
    <div class="drawer">
        <div class="drawer-header">
            <img class="header-logo" src="{{ site.baseurl }}/assets/dist/images/logo_dark.png">
            <h1 class="header-text">
                Component Library
            </h1>
        </div>

        <div class="drawer-content">
            
            <div class="content-section">
                <a class="content-titleContainer" href="{{ site.baseurl }}">
                    <h2 class="content-titleText">Overview</h1>
                </a>
            </div>

            <div class="content-section active">
                <a class="content-titleContainer" href="{{ site.baseurl }}/design/">
                    <h2 class="content-titleText">Design</h1>
                </a>
                <div class="content-body">
                    <ul class="collection-list">
                        {% for component in site.design %}
                        <li class="collection-listItem" id="{{ component.name | cgi_escape }}-nav">
                            <a href="{{ site.baseurl }}/design/#{{component.name | cgi_escape }}">{{ component.name }}</a>
                            {{ component.content | toc }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="content-section active">
                <a class="content-titleContainer" href="{{ site.baseurl }}/components/">
                    <h2 class="content-titleText">Components</h1>
                </a>
                <div class="content-body">
                    <ul class="collection-list">
                        {% for component in site.components %}
                        <li class="collection-listItem" id="{{ component.name | cgi_escape }}-nav">
                            <a href="{{ site.baseurl }}/components/#{{component.name | cgi_escape }}">{{ component.name }}</a>
                            {{ component.content | toc }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</aside>