<aside class="drawer">
        
    <div class="drawer-header">
        <img class="header-logo" src="{{ "/images/logo.png" | relative_url }}">
        <h1 class="header-title">Component Library</h1>
    </div>

    <div class="drawer-content">
        
        <div class="content-section">
            <div class="content-title--container">
                <h2 class="content-title--text">Overview</h1>
            </div>
        </div>

        <div class="content-section">
            <div class="content-title--container">
                <h2 class="content-title--text">Design</h1>
            </div>
        </div>

        <div class="content-section active">
            <div class="content-title--container">
                <h2 class="content-title--text">Components</h1>
            </div>
            <div class="content-body">
                <ul class="components-list">
                    {% for component in site.components %}
                    <li class="components-list--item">
                        <a href="#{{component.name}}">{{ component.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
    
</aside>