<aside class="drawer-container" id="drawerContainer">
    <div class="drawer">
        <div class="drawer-header">
            <img class="header-logo" src="{{ site.baseurl }}/assets/dist/images/logo_light.png">
            <h1 class="header-text">
                Component Library
            </h1>
        </div>

        <div class="drawer-content">
            
            <div class="content-section">
                <a class="content-titleContainer" href="{{ site.baseurl }}/">
                    <h2 class="content-titleText">Overview</h1>
                </a>
            </div>

            {% if page.type contains "Design" %}
                <div class="content-section active">
            {% else %}
                <div class="content-section">
            {% endif %}
                <a class="content-titleContainer" href="{{ site.baseurl }}/design/">
                    <h2 class="content-titleText dropdown">Design {{ page.type }}</h1>
                </a>
                <div class="content-body">
                    <ul class="collection-list">    
                        {% for component in site.design %}
                        {% if page.url == component.url %}
                            <li class="collection-listItem active"  id="{{ component.name | cgi_escape }}-nav">
                                <div class="scrollIndicator"></div>
                                <a href="{{component.url}}">{{component.name}}</a>
                                {{ component.content | toc }}
                            </li>
                        {% else %}
                            <li class="collection-listItem"  id="{{ component.name | cgi_escape }}-nav">
                                <div class="scrollIndicator"></div>
                                <a href="{{component.url}}">{{component.name}}</a>
                            </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% if page.type contains "Component" %}
                <div class="content-section active">
            {% else %}
                <div class="content-section">
            {% endif %}
                <a class="content-titleContainer" href="{{ site.baseurl }}/components/">
                    <h2 class="content-titleText dropdown">Components</h1>
                </a>
                <div class="content-body">
                    <ul class="collection-list">
                        {% for component in site.components %}
                        <li class="collection-listItem" id="{{ component.name | cgi_escape }}-nav">
                            <div class="scrollIndicator"></div>
                            <a href="{{ component.url }}">{{ component.name }}</a>
                            {{ component.content | toc }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</aside>