@import '../../../_design/colour/scss/styles';

.radioButton {
  display: inline-block;
  margin: 12px 0;
  height: 20px;
  line-height: 20px;
  cursor: pointer;

  input[type="radio"] {
    -webkit-appearance: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    float: left;

    position: relative;
    height: 20px;
    width: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #E0E0E0;
    background-color: #fff;
    border-radius: 50%;

    transition: border-width 0.2s linear, border-color 0.2s linear;

    &:before {
      display: block;
      content: '';

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background: none;
      opacity: 0;
      border-width: 2px;
      border-style: solid;
      @include very-2(border-color);

      transition: opacity 0.2s linear;
    }
    &:after {
      display: block;
      content: '';

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      @include very-2(background-color);

      opacity: 0;
      transform: scale(0);
      transition: opacity 0.3s linear, transform 0.2s linear;
    }

    &:disabled, &:disabled+span {
      opacity: 0.6;
    }
    &:hover:not(:disabled):before,&:checked:before {
      opacity: 1;
    }
    &:disabled:before {
      border-color: #E0E0E0;
    }
    &:checked {
      &:disabled:after {
        background: #E0E0E0;
      }
      &:after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  span {
    float: left;
    line-height: 20px;
    margin-left: 8px;
  }
}