@import '../../../_design/colour/scss/styles';

.btn-secondary {
    padding: 4px 0;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;

    .btn {
        @include sec-2(background);
        height: 40px;
        border-radius: 2px;
        text-align: center;
        transition: background 0.3s ease-in-out;

        .btn-text {
            font-family: 'Lato', sans-serif;
            color: #fff;
            line-height: 40px;
            font-size: 14px;
            letter-spacing: 0px;
            text-transform: capitalize;
        }
    }
    .btn:hover {
        @include sec-1(background);
    }
    .btn:active {
        background: #1AABFF;
    }
}
