@import '../scss/styles';
@import '../../../assets/src/scss/_theme';

.colour-col {
  width: 100%;
  display: flex;
  flex-direction: row;

  @media (max-width: $screen-mob-max) {
      flex-direction: column;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  max-width: 250px;
  @media (max-width: $screen-mob-max) {
      width: 100%;
      max-width: none;
  }
  &:before {
    content: '';
    display: block;
    padding-top: 60%;
  }

  span {
    @include title();

    &.white {
      color: #fff;
    }
    &.black {
      color: #000;
    }
  }
}

.pri-1 {
  @include pri-1(background);
}
.pri-2 {
  @include pri-2(background);
}
.pri-3 {
  @include pri-3(background);
}

.sec-1 {
  @include sec-1(background);
}
.sec-2 {
  @include sec-2(background);
}
.sec-3 {
  @include sec-3(background);
}

.err-1 {
  @include err-1(background);
}
.err-2 {
  @include err-2(background);
}
.err-3 {
  @include err-3(background);
}

.mod-1 {
  @include mod-1(background);
}
.mod-2 {
  @include mod-2(background);
}
.mod-3 {
  @include mod-3(background);
}

.war-1 {
  @include war-1(background);
}
.war-2 {
  @include war-2(background);
}
.war-3 {
  @include war-3(background);
}