@import 'theme';
@import 'typography';

body, html {
    min-height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.drawer-container {
    display: block;
    position: relative;
    z-index: 9999;
    height: 100%;
    width: 30%;
    /* desktop */
    @media (min-width: $screen-mob-max) {
        max-width: 300px;
    }

    /* mobile */
    @media (max-width: $screen-mob-max) {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 80%;

        &::before {
            display: block;
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.6);
            opacity: 0;
            will-change: opacity;
            transition: opacity 0.2s $nice-easing;
        }
        &.in {
            display: block;
        }
        &.active {
            .drawer {
                transform: translateX(0);
            }
        }
        &.active::before {
            opacity: 1;
        }
    }

    .drawer {
        border-top: 1px solid $border-color;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        @media (max-width: $screen-mob-max) {
            /* the extra 3% is to account for box-shadow */
            transform: translateX(-103%);
            will-change: transform;
            transition: transform 0.3s $nice-easing;
        }


        .drawer-header {
            align-items: center;
            background: $primary-1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px;

            .header-logo {
                width: 50%;
            }
            .header-text {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 300;
                color: $primary-1-text;
                width: 80%;
                text-align: center;
            }
        }

        .drawer-content {
            flex: 1;
            overflow-y: auto;
            background: $primary-1;
        }

        .content-section {
            border-color: $border-color;
            border-style: solid;
            border-width: 0px;
            border-bottom-width: 1px;
        }

        .content-section:nth-of-type(1) {
            border-top-width: 1px;
        }

        .content-title--container {
            padding: 16px;
        }

        .content-title--text {
            @include subheading();
            color: $sub-header;
            margin: 0;
            overflow: hidden;
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .content-title--text::after {
            background: $primary-1;
            color: $primary-1-text;
            content: '\25BE';
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }

        .content-body {
            display: none;
            padding: 0 24px 24px;
            background: $primary-1;
        }

        .content-section.active .content-title--text::after {
            transform: rotate(180deg);
        }

        .content-section.active .content-body {
            display: block;
        }

        .components-list {
            margin: 0;
            padding: 0;

            .components-list--item {
                list-style: none;

                a {
                    @include body-1();
                    display: block;
                    padding: 8px 16px;
                    text-decoration: none;
                    color: $primary-1-text;
                }
            }
        }
    }

}

.header {
    @media (min-width: $screen-mob-max) {
        display: none;
    }
    position: relative;
    height: 56px;
    padding: 8px 24px 8px 16px;
    background: $primary-1;
    width: 100%;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header-leftContent {
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        
        .header-icon {
            -webkit-appearance: none;
            outline: none;
            cursor: pointer;
            padding: 8px;
            height: 40px;
            width: 40px;
            border: none;
            border-radius: 50%;
            background: rgba(0,0,0,0);
            transition: background 0.2s $nice-easing;

            svg {
                fill: $primary-1-text;
            }
        }
        .header-icon:hover, .header-icon.active {
            background: rgba(255,255,255,0.2);
        }
        .header-title {
             @include title();
            margin-left: 16px;
            color: $primary-1-text;
        }
    }

    .logo-container {
        height: 100%;
        display: flex;
        align-items: center;

        .header-logo {
            height: 60%;
        }
    }
}

.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.main {
    position: relative;
    z-index: 99;
    flex: 1;
    padding: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background: $body-bg;

    @media (max-width: $screen-mob-max) {
        padding: 0;
    }
}

.component {
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 24px;

    @media (max-width: $screen-mob-max) {
        margin: 24px 0;
    }
    &:nth-child(1) {
        @media (max-width: $screen-mob-max) {
            margin-top: 0;
        }
    }

    .component-title {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px;
        background: $primary-1;

        svg {
            margin: 0 8px;
            fill: $primary-2-text;
            fill-opacity: 0.2;
            transition: fill-opacity 0.3s $nice-easing;
        }
        span {
            margin-left: 16px;
            color: $primary-2-text;
            @include title();
        }

        &:hover svg {
            fill-opacity: 1;
        }
    }

    .component-body {
        padding: 16px;

        .demo-container {
            border: 1px solid #e0e6ed;
            border-radius: 4px;
            margin: 16px 0;
        }

        .demo-output {
            box-sizing: initial;
            border-bottom: 1px solid #e0e6ed;
            overflow-x: hidden;
            padding: 16px;
        }

        .demo-code {
            position: relative;
            padding: 16px; 
            background: rgba(224, 230, 237, 0.25);

            .demo-code--copy {
                -webkit-appearance: none;
                cursor: pointer;
                background:transparent;
                border: 0;
                opacity: 0.2;
                padding: 8px;
                position: absolute;
                top: 0;
                transition: opacity 0.3s $nice-easing;
                right: 0;
            }

            figure {
                margin: 0;
                background: none;

                pre {
                    margin: 0;
                    padding: 0;
                    white-space: pre-wrap;

                    code {
                        font-family: consolas;
                        @include body-1();
                        line-height: 1.5;
                    }
                }
            }

            &:hover .demo-code--copy {
                opacity: 1;
            }
        }

        h1 {
            @include display-1();
        }
        h2 {
            @include display-2();
        }
        h3 {
            @include display-3();
        }
        h4 {
            @include display-4();
        }
        p {
             @include body-1();
        }
    }
}