---
name: 'Button'
author: 'Alex Saunders'
---

<component-demo>
  <div slot="output">
    <div class="btn btn-raised">Button</div>
    <div class="btn btn-flat">Button</div>
  </div>
  <div slot="code">
    <div class="btn btn-raised">Button</div>
    <div class="btn btn-flat">Button</div>
  </div>
</component-demo>

<component-demo>
  <div slot="output">
    <div class="btn btn-raised">Some other demo</div>
  </div>
  <div slot="code">
    <div class="btn btn-raised">Some other demo</div>
  </div>
</component-demo>

