@import '../_theme';
@import '../_typography';

.spacer {
    display: block;
    margin-top: 20px;
    padding-bottom: 20px;
    @media (max-width: $screen-mob-max) {
        margin-top: 0;
        padding-bottom: 0;
    }
}
.component-container {
    padding: 20px 0;

    @media (max-width: $screen-mob-max) {
        padding: 0 0 20px 0;
    }
}
.component {
    background: #fff;
    // box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    // box-shadow: 0px 4px 8px #D8DDE6;

    .component-title {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px;

        svg {
            margin: 0 8px;
            fill: $primary-1-text;
            fill-opacity: 0.2;
            transition: fill-opacity 0.3s $nice-easing;
        }
        &:hover svg {
            fill-opacity: 1;
        }
        span {
            margin-left: 16px;
            color: $primary-1-text;
            @include title();
        }
    }

    .component-body {
        padding: 16px;
        line-height: 1.5;

        .panel-container {
            box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
            background: #fff;

            .panel-cta {
                padding: 16px;

                .panel-title {
                    font-size: 20px;
                    font-weight: 400;
                    color: #272727;
                }
                .panel-title:after {
                    height: 100%;
                    width: 24px;
                }
            }
            .panel-body {
                .body-content {
                    padding: 0 16px 16px;
                }
            }
        } 
        
        #markdown-toc {
            display: none;
        }

        .highlighter-rouge {
            background: rgba(224,230,237,.25);
        }

        &:not(.demo-container) h1 {
            @include display-1();
        }
        &:not(.demo-container) h2 {
            @include display-2();
        }
        &:not(.demo-container) h3 {
            @include display-3();
            margin: 40px 0 18px;
        }
        &:not(.demo-container) h4 {
            @include display-4();
        }
        &:not(.demo-container) p {
             @include body-1();
        }

        &:not(.demo-container) table {
            border-spacing: 0;
            border-collapse: collapse;

            tr {
                background-color: #fff;

                td, th {
                    padding: 8px 16px;
                    border: 1px solid #dfe2e5;
                }
                th {
                    font-weight: 600;
                }
            }
        }
    }
}