@import '../_theme';
@import '../_typography';

.spacer {
    display: block;
    margin-top: 20px;
    padding-bottom: 20px;
    @media (max-width: $screen-mob-max) {
        margin-top: 0;
        padding-bottom: 0;
    }
}
.component-container {
    padding: 20px 0;

    @media (max-width: $screen-mob-max) {
        padding: 0 0 20px 0;
    }
}
.component {
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);

    .component-title {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px;
        background: $primary-1;

        svg {
            margin: 0 8px;
            fill: $primary-2-text;
            fill-opacity: 0.2;
            transition: fill-opacity 0.3s $nice-easing;
        }
        &:hover svg {
            fill-opacity: 1;
        }
        span {
            margin-left: 16px;
            color: $primary-2-text;
            @include title();
        }
    }

    .component-body {
        padding: 16px;
        line-height: 1.5;
        
        #markdown-toc {
            display: none;
        }

        .demo-container {
            box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
            border-radius: 4px;
            margin: 16px 0;

            .demo-output {
                position: relative;
                box-sizing: initial;
                border-bottom: 1px solid #e0e6ed;
                overflow-x: hidden;
                padding: 0;
            }

            .demo-code {
                position: relative;
                padding: 16px; 
                background: rgba(224, 230, 237, 0.25);

                .demo-code--copy {
                    -webkit-appearance: none;
                    cursor: pointer;
                    background-color: #FFF;
                    border: 1px solid #e0e6ed;
                    border-top: 0;
                    border-right: 0;
                    padding: 8px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    @media (max-width: $screen-mob-max) {
                        display: none;
                    }

                    svg {
                        fill-opacity: 0.3;
                        transition: all 0.3s $nice-easing;
                        transition-property: fill, fill-opacity;
                        
                    }

                    &.success svg {
                        fill-opacity: 1;
                        fill: #00c853;
                    }

                    &:hover svg {
                        fill-opacity: 1;
                    }
                }

                figure {
                    margin: 0;
                    background: none;

                    pre {
                        margin: 0;
                        padding: 0;
                        white-space: pre-wrap;

                        code {
                            font-family: 'Roboto Mono', monospace;
                            @include body-1();
                            line-height: 1.5;
                        }
                    }
                }
            }
        }

        .highlighter-rouge {
            background: rgba(224,230,237,.25);
        }

        &:not(.demo-container) h1 {
            @include display-1();
        }
        &:not(.demo-container) h2 {
            @include display-2();
        }
        &:not(.demo-container) h3 {
            @include display-3();
            margin: 40px 0 18px;
        }
        &:not(.demo-container) h4 {
            @include display-4();
        }
        &:not(.demo-container) p {
             @include body-1();
        }

        &:not(.demo-container) table {
            border-spacing: 0;
            border-collapse: collapse;

            tr {
                background-color: #fff;

                td, th {
                    padding: 8px 16px;
                    border: 1px solid #dfe2e5;
                }
                th {
                    font-weight: 600;
                }
            }
        }
    }
}