.demo-container {
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    border-radius: 4px;
    margin: 16px 0;

    .demo-output {
        position: relative;
        border-bottom: 1px solid #e0e6ed;
        overflow-x: hidden;
        padding: 0;
    }
    .demo-output * {
        box-sizing: initial;
    }

    .demo-code {
        position: relative;
        padding: 0; 
        background: rgba(224, 230, 237, 0.25);

        .demo-code--copy {
            -webkit-appearance: none;
            cursor: pointer;
            background-color: #FFF;
            border: 1px solid #e0e6ed;
            border-top: 0;
            border-right: 0;
            padding: 8px;
            position: absolute;
            top: 0;
            right: 0;
            @media (max-width: $screen-mob-max) {
                display: none;
            }

            svg {
                fill-opacity: 0.3;
                transition: all 0.3s $nice-easing;
                transition-property: fill, fill-opacity;
                
            }

            &.success svg {
                fill-opacity: 1;
                fill: #00c853;
            }

            &:hover svg {
                fill-opacity: 1;
            }
        }

        figure {
            margin: 0;
            background: none;

            pre {
                margin: 0;
                padding: 16px;
                white-space: pre;
                overflow-x: auto;

                code {
                    font-family: 'Roboto Mono', monospace;
                    @include body-1();
                    line-height: 1.5;
                }
            }
        }
    }
}