@import '../_theme';
@import '../_typography';
@import '../../../../_design/typography/scss/styles';

.panel-container {
  @include base-font();

  .panel-cta {
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;

    .panel-title {
      @include base-font();
      position: relative;
      width: 100%;
      float: left;
      text-align: left;
    }
    .panel-title:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;

      transition: transform 0.2s $nice-easing;
    }
  }

  .panel-body {
    overflow: hidden;

    &.animatable {
      transition: max-height 0.2s $nice-easing, opacity 0.3s $nice-easing;
    }
  }

  &.expanded {

    .panel-title:after {
      transform: rotateX(180deg);
    }
  }
}